.wrapper {
}

.container {
  display: flex!important;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 850px;
  margin: auto;
}

.posts-container {
  width: 580px;
  text-align: left;
  margin: 0 10px;
}

.extra-container {
  width: 250px;
}

.loader {
  margin-left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  margin-top: 50px;
}

@media only screen and (max-width: 850px) {
  .container {
    width: 600px;
  }
  .extra-container {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}
