.wrapper {
}

.container {
  display: flex!important;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 850px;
  margin: auto;
}

.posts-container {
  width: 580px;
  text-align: left;
  margin: 0 10px;
}

.extra-container {
  width: 250px;
}

.loader {
  margin-left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  margin-top: 50px;
}

.button-show-more {
  color: #0073b1;
  background: #fff;
  border: 1px solid #0073b1;
  height: 50px;
  width: 100px;
  margin: 0 5%;
  border-radius: 3px;
  cursor: pointer;
}

.button-disabled {
  color: #000;
  background: #ddd;
  border: 1px solid #ccc;
  height: 50px;
  width: 40%;
  margin: 0 5%;
  border-radius: 3px;
  cursor: not-allowed;
}

@media only screen and (max-width: 850px) {
  .container {
    width: 600px;
  }
  .extra-container {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}
